<div class="jumbotron jumbotron-fluid page-header">
  <h1 class="display-3">Sentiment Analysis</h1>
  <h3 class="text-white-50">Twitter Feeds</h3>
</div>

<section>
  <div class="container">
    <!-- <div class="col-md-8"> -->
      <div class="input-group">
          <input class="form-control py-2 border-right-0 border" type="search" placeholder="search"
            [(ngModel)]="searchText" (keyup.enter)="getData()" (keydown.backspace)="cleanUp()">
          <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search" (click)="getData()"></i>
              </div>
          </span>
      </div>
    <!-- </div> -->
  </div>
</section>

<br><br>

<section *ngIf="news.length > 0">
  <div class="container">
    <div class="row justify-content-around">
        <div class="col-4">
          <span class="mr-2" style="font-size: 1.5rem">Current Price</span>
          <span class="badge badge-primary">{{ currentPrice }}</span>
          <i class="{{ arrowType }}" [style.color]="arrowColor"></i>
        </div>

        <div class="col-4">
          <span class="mr-2"  style="font-size: 1.5rem">Twitter Sentiments</span>
          <span class="badge badge-info">{{ twitterTrend }}</span>
          <i class="{{ twitterTrendArrow }}" [style.color]="twitterTrendColor"></i>
        </div>
    </div>

      <hr><br>

    <div class="card-columns">
      <div class="card p-3" *ngFor="let n of news">
        <div class="card-block">
          <h4 class="card-title">{{ n.title }}</h4>
          <h6 class="card-subtitle text-black-50">{{ n.title }}</h6>
          <p class="card-text">{{ n.description }}</p>
          <a href="{{ n.url }}" target="_blank" class="btn btn-outline-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<br><br>

<section>
  <div class="container">
    <div id="accordion" role="tablist" *ngIf="items">
      <div class="card mb-2" *ngFor="let item of items">
        <div class="card-header" role="tab" id="heading">
          <h5 class="mb-0"><a href="#{{ item.id }}" data-parent="#accordion" data-toggle="collapse">
            {{ item.title }}
          </a></h5>
        </div>

        <div id="{{ item.id }}" class="collapse">
          <div class="card-block p-3">
            <!-- {{ item.description }} -->
            <div class="contaiener" *ngIf="item.description">
              <ul>
                <li *ngFor="let d of item.description">{{ d }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</section>
